@charset "UTF-8";

/* 回答はここに書いてね */
.q4_content {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}
.content_width{
  width: 100%;
}

.q4_content div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.content-fixed {
  background-color:#b6d8eb;
  width: 100px;
}

.content-variable {
  background-color: #e0abd9;
  width:auto;
}

.content-fixed_orange {
  background-color: #fdc8b8;
  width: 100px;
}

.content-under_variable_left {
  background-color: #e5d32e;
  width:auto
}

.content-under_fixed {
  width: 500px;
  background-color: #8fdcad;
}

.content-under_variable {
  background-color: #ec8f9a;
  width: auto;
}

/* 回答はここに書いてね */
