@charset "UTF-8";

/* 回答はここに書いてね */

.q9__answer {
  display: inline-block;
  background-color: #fff;
  width: 500px;
  padding: 20px ;
  border-radius: 30px;
  position: relative;
  border: 5px solid #222;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
}

.q9__answer::after{
  content: "";
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: #fff;
  position : absolute;
  bottom: -33px;
  left: 30px;
}

.q9__answer::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: #222;
  position : absolute;
  bottom: -40px;
  left: 30px;
}
/* 回答はここに書いてね */
