@charset "UTF-8";
/* 回答はここに書いてね */
.content {
  width: 100px;
  height: 100px;
  font-weight: bold;
  position: absolute;
}

.content-1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 0;
  }

.content-2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 10;
}

.content-3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 20;
}

.content-4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 30;
}

.content-5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 40;
}

.content-6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 50;
}

.content-7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 60;
}

.content-8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 70;
}

.content-9 {
  width: 100px;
  height: 100px;
  font-weight: bold;
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}

.background {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

.background::before {
  background-color: #ffefd3;
  position: absolute;
  top: 120px;
  left: 200px;
  z-index: 80;
  width: 20px;
  height: 20px;
  content:'' ;
}


/* 回答はここに書いてね */
