@charset "UTF-8";

/* 回答はここに書いてね */
.layout {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  }

.layout td {
  border: 1px solid #dedede;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
}

.layout th {
  background-color: #2244aa;
  color: #dedede;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #dedede;
  padding: 10px;
  overflow-wrap: break-word;
  }

.layout tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.layout tbody tr:last-child {
  border-top: dashed  #000  2px;
}

/* 回答はここに書いてね */
