@charset "UTF-8";

/* 回答はここに書いてね */
.q3_layout {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  }

th,tr,td {
  border: 1px solid #dedede;
  padding: 10px;
}

th {
  background-color: #2244aa;
  color: #dedede;
  font-size: 18px;
  line-height: 26px;
  }

tbody {
  font-size: 16px;
  line-height: 22px;
}

tbody:nth-child(odd) {
  background-color: #ecf1f2;
}

tbody:last-child {
  border-top: dashed  #000  2px;
}

/* 回答はここに書いてね */
