@charset "UTF-8";

/* 回答はここに書いてね */
.q8_transition{
  position: relative;
  display: inline-block;
  }

.q8_transition_img{
  margin-left: 190px;
}

.q8_transition-text{
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  top: 60%;
  margin-left: 195px;
  width: 500px;
  height: 333px;
  color: #ffffff;
}




/* 回答はここに書いてね */
